.logement-info h1 {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.logement-info p {
  margin-top: 0;
  color: #ff6060;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.tag-container {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.tag {
  width: 6rem;
  height: 1.125rem;
  border-radius: 0.3125rem;
  background: #ff6060;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  margin-right: 0.63rem;
  line-height: 200%;
}

.host-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.host-info p {
  margin: 0;
  word-spacing: 9999rem;
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
}

.host-info p ~ .host-info p {
  word-spacing: unset;
  display: table-caption;
}

.host-profile {
  display: flex;
  width: 10rem;
  align-items: center;
}

.host-profile img {
  width: 2rem;
  height: 2rem;
  fill: #c4c4c4;
  border-radius: 50%;
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .infos {
    display: flex;
    justify-content: space-between;
  }

  .logement-info h1 {
    font-size: 2.25rem;
    margin-bottom: 0;
  }

  .logement-info p {
    font-size: 1.125rem;
    margin-bottom: 0rem;
  }

  .host-info {
    flex-direction: column-reverse;
  }

  .host-profile {
    align-items: center;
  }

  .host-profile p {
    font-size: 1.125rem;
  }

  .host-profile img {
    width: 4rem;
    height: 4rem;
  }

  .tag-container {
    margin-bottom: 0;
  }

  .tag {
    width: 7.1875rem;
    height: 1.5625rem;
    border-radius: 0.3125rem;
    background: #ff6060;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    margin-right: 0.63rem;
    line-height: 200%;
  }

  .logement-dropdown {
    display: flex;
    gap: 4.75rem;
  }
}
