.carousel {
  position: relative;
  height: 15.94rem;
  width: 100%;
  margin: 1.69rem auto;
}

.track-container {
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 0.625rem;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.button-right {
  right: 0px;
}

.carousel-button img {
  width: 1.5rem;
}
