.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  color: var(--red);
}

.logo {
  width: 9rem;
  height: 2.9rem;
  margin-right: 0.2rem;
}

.navbar {
  font-size: 0.75rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  font-family: Montserrat;
  white-space: nowrap;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 13.14513rem;
    height: 4.25rem;
  }

  .navbar {
    font-size: 1.5rem;
    text-transform: capitalize;
    width: 15rem;
  }
}
